<div class="container-fluid">
  <div class="card border-primary mb-3">
    <div class="card-header text-center"><h1>Juegos</h1> <button class="btn btn-primary float-right" (click)="switchID()">{{ showID ? "Ocultar" : "Mostrar"}}   ID  </button> </div>
    <div class="card-body text-primary">
      <table class="table table-bordered table-striped">
        <thead>
          <th *ngIf="showID">ID</th>
          <th>Titulo</th>
          <th>Fecha de lanzamiento</th>
          <th>Precio</th>
          <th>Pegi</th>
          <th>Categoria</th>
        </thead>
        <tbody>
          <tr *ngFor="let juego of juegos">
            <td *ngIf="showID">{{juego.idJuego}}</td>
            <td>{{juego.titulo}}</td>
            <td>{{juego.fechaLanzamiento | date: "dd/MM/yyyy"}}</td>
            <td>{{juego.precio}}</td>
            <td>{{juego.pegi}}</td>
            <td>{{juego.categoria | uppercase}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

