
<div *ngIf="juegos?.length == 0" class="alert alert-info">
  No hay juegos
</div>

<div *ngIf="juegos?.length > 0">
  <div class="card border-primary mb-3">
    <div class="card-header text-center">
      <h1 class="d-inline"><fa-icon [icon]="icons.faGamepad"></fa-icon></h1>
      <button class="btn btn-primary float-right" *ngIf="!showID" (click)="switchID()"><fa-icon [icon]="icons.faEye"></fa-icon> ID</button>
      <button class="btn btn-primary float-right" *ngIf="showID" (click)="switchID()"><fa-icon [icon]="icons.faEyeSlash"></fa-icon> ID</button>
    </div>
    <div class="card-body text-primary">
      <table class="table table-bordered table-striped text-center">
        <thead>
          <th *ngIf="showID">ID</th>
          <th>Titulo</th>
          <th>Fecha de lanzamiento</th>
          <th>Precio</th>
          <th>Pegi</th>
          <th>Categoria</th>
          <th>Compañia</th>
          <th>Acciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let juego of juegos">
            <td *ngIf="showID">{{juego.idJuego}}</td>
            <td>{{juego.titulo}}</td>
            <td>{{juego.fechaLanzamiento | date: "dd/MM/yyyy"}}</td>
            <td>{{juego.precio}}</td>
            <td>{{juego.pegi}}</td>
            <td>{{juego.categoria | lowercase}}</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li class="dropdown-item" *ngFor="let company of juego.companies">{{company.nombre}}</li>
                </div>
              </div>
            </td>
            <td>
              <button class="btn btn-sm btn-primary" [routerLink]="['/juegos/form', juego.idJuego]" type="button"> <fa-icon [icon]="icons.faEdit"></fa-icon> </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary float-right mb-3" [routerLink]="['/juegos/form']"><fa-icon [icon]="icons.faPlusSquare"></fa-icon></button>
    </div>
  </div>
</div>

