<div *ngIf="juegos?.length == 0" class="alert alert-info">
  No hay juegos
</div>

<div *ngIf="juegos?.length > 0">
  <div class="card border-primary mb-3">
    <div class="card-header text-center">
      <h1 class="d-inline">
        <fa-icon [icon]="icons.faGamepad"></fa-icon>
      </h1>
      <button class="btn btn-primary float-right" *ngIf="!showID" (click)="switchID()">
        <fa-icon [icon]="icons.faEye"></fa-icon> ID
      </button>
      <button class="btn btn-primary float-right" *ngIf="showID" (click)="switchID()">
        <fa-icon [icon]="icons.faEyeSlash"></fa-icon> ID
      </button>
    </div>
    <div class="card-body text-primary">
      <div class="row d-flex justify-content-center">
        <div class="card col-12 col-sm-12 col-md-5 col-lg-5 col-xl-3 p-0 m-1 text-white text-center w-100"
          *ngFor="let juego of juegos">
          <div class="card-header bg-primary">
            <h3 class="d-inline">{{juego.titulo}}</h3>
            <button class="btn btn-secondary float-right" *ngIf="showID">{{juego.idJuego}}</button>
          </div>
          <div class="card-body">
            <div class="row">
              <h5 class="card p-1 bg-primary col m-1">{{juego.fechaLanzamiento | date: "dd/MM/yyyy"}}</h5>
              <h5 class="card p-1 bg-primary col m-1">{{juego.precio}}€</h5>
            </div>
            <div class="row">
              <h5 class="card p-1 bg-primary col m-1">PEGI: {{juego.pegi}}</h5>
              <h5 class="card p-1 bg-primary col m-1">{{juego.categoria | lowercase}}</h5>
            </div>
            <div class="dropdown">
              <button class="btn btn-sm btn-primary dropdown-toggle m-1" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <fa-icon [icon]="icons.faIdBadge"></fa-icon>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li class="dropdown-item" *ngFor="let company of juego.companies">{{company.nombre}}</li>
              </div>
            </div>
            <button class="btn btn-sm btn-primary" [routerLink]="['/juegos/form', juego.idJuego]" type="button">
              <fa-icon [icon]="icons.faEdit"></fa-icon>
            </button>
            <button class="btn ml-2 btn-sm btn-secondary" (click)="delete(juego)" type="button">
              <fa-icon [icon]="icons.faTrashAlt"></fa-icon>
            </button>
          </div>
        </div>
      </div>

      <button class="btn btn-primary float-right mt-3" [routerLink]="['/juegos/form']">
        <fa-icon [icon]="icons.faPlusSquare"></fa-icon>
      </button>
    </div>
  </div>
</div>