
<div *ngIf="companies?.length == 0" class="alert alert-info">
  No hay juegos
</div>

<div *ngIf="companies?.length > 0">
  <div class="card border-primary mb-3">
    <div class="card-header text-center"><h1>Compañias</h1> <!--<button class="btn btn-primary float-right" (click)="switchID()">{{ showID ? "Ocultar" : "Mostrar"}}   ID  </button>--> </div>
    <div class="card-body text-primary">
      <table class="table table-bordered table-striped text-center">
        <thead>
          <!--<th *ngIf="showID">ID</th>-->
          <th>CIF</th>
          <th>Nombre</th>
          <th>Juegos</th>
        </thead>
        <tbody>
          <tr *ngFor="let company of companies">
            <!--<td *ngIf="showID">{{juego.idJuego}}</td>-->
            <td>{{company.cif}}</td>
            <td>{{company.nombre}}</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li class="dropdown-item" *ngFor="let juego of company.juegos">{{juego.titulo}}</li>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
